{% extends 'calendarapp/base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block style %}
<style>
    body {
        background-color: #EAE2B7;
        color: #D62828;
        font-family: Perpetua,serif;
    }
    .title {
        text-align: center;
        margin: 10px;
        color: #003049;
    }
    .calendar {
        margin: auto;
        font-size: 15px;
        font-weight: bold;
        width: 95%;
    }
    .calendar tr, .calendar td {
        border: 2px solid #003049;
    }
    .calendar td {
        height: 150px;
        width: 150px;
        padding: 20px 0 0 5px;
    }
    .month {
        font-size: 22px;
        font-width: bold;
    }
    ul {
        height: 95%;
        padding: 0 5px 0 20px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .btn {
        background-color: #FCBF49;
        color: #003049;
        border: 2px solid #003049;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        margin-left: 5px;
    }
    .btn:hover {
        background-color: #EAE2B7;
    }
    .clearfix {
        margin: 15px;
    }
    a {
        color: #F77F00;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'calendarapp:calendar' %}?{{ previous_month }}"> Previous month </a>
    <a class="btn btn-info right" href="{% url 'calendarapp:calendar' %}?{{ next_month }}"> Next month </a>
    <a class="btn btn-info right" href="{% url 'calendarapp:new_event' %}"> New event </a>
</div>
{{ calendar }}
{% endblock %}